<div class="row card-detail">
  <div class="col-md-6 col-md-offset-3 bg-grey">
    <div class="panel panel-normal" style="margin-top: 13px;">
      <div class="panel-body">
	<p>
	  <div style="font-size: 13px;">
	    <span style="font-weight: bold;">{{card.creator.username}}</span>
	    created
	    <span ng-show="card.card_type == 'announcement'" style="font-weight: bold; color: #245894;">{{card.card_type}}</span>
            <span ng-show="card.card_type == 'assignment'" style="font-weight: bold; color: #e93409;">{{card.card_type}}</span>
            <span ng-show="card.card_type == 'grade'" style="font-weight: bold; color: #23ac02;">{{card.card_type}}</span>
            <span ng-show="card.card_type == 'discussion'" style="font-weight: bold; color: #0000ff;">{{card.card_type}}</span>
	    card to
	    <span style="font-weight: bold; color: #f48a3d;">{{card.section.course_name}} Section</span>
	    <span class="pull-right" style="color: #7d818b;">{{card.pub_date | date: "MM/dd/yyyy h:mma"}}</span>
	  </div>
	  <div class="title">Title : {{card.title}}</div></br>
	  {{card.content}}
	</p>
      </div>
    </div>
    <form ng-submit="addComment()" class="form-inline" style="margin-top:30px; padding-left: 10px; padding-right: 10px;">
      <input type="text" class="form-control" placeholder="Type comment..." ng-model="body" style="width: 90%;"></input>
      <button type="submit" class="btn btn-success btn-md">Add</button>
    </form>
    <div ng-repeat="comment in card.comments" style="padding-left: 20px; padding-bottom: 10px;">
      <span style="color:#3BA944; font-weight:bold"> {{comment.creator.username}}</span>
      <span style="font-size:15px; margin-left:10px;">{{comment.body}}</span>
    </div>
  </div>
  <div class="col-md-2">
    <div ng-app="ngAnimate" class="bg-grey" style="top: 60px; position: fixed; width: 256px;">
      <div style="background-color: #373c4b; padding: 12px;">
	<a style=" color: #ffffff;">MEMO</a>
      </div>
      <div ng-repeat="memo in card.memos" style="width: 250px; word-wrap:break-word; padding:10px; background-color: #ffffff; margin-top: 10px; margin-left: 3px; margin-right: 3px;">
	{{ memo.body }}
      </div>
      <form ng-submit="addMemo()" style="margin-top:30px; padding-left: 10px; padding-right: 10px;">
	<textarea class="form-control" placeholder="Memo..." ng-model="memoBody" size="25"></textarea></br>
	<button type="submit" class="btn btn-default btn-md" style="width: 100%;">Add</button>
      </form>
    </div>
  </div>
</div>
