<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default btn-md" ng-click="showAddSectionModal()">+ Create Section</button>
      <hr>
      <div class="section">
	<div class="section-tag">
	  <a href="#/home">
	    <div class="section-title">ALL Courses</div>
	  </a>
	</div>
	<hr>
      </div>
      <div class="section" ng-repeat="section in sections">

	<a href="#/home?sectionId={{section._id}}">
	  <div class="section-number">
	    {{section.course_id}}{{section.section_id}}
	  </div>
	  <div class="section-title">
	    {{section.course_name}}
	    <span ng-show="section.selected" class="glyphicon glyphicon-ok pull-right"></span>
	  </div>
	</a>
	<a href="#/sections/{{section._id}}" ng-show="section.manage_authorized">
	  <span class="glyphicon glyphicon-pencil"></span>edit</a>
	<hr>
      </div>
    </div>

  </div>
  <div class="bg-grey col-md-6">
    <div style="padding: 4px;">
      <div style="padding-top: 15px;"><h4 style="display: inline;">TIMELINE : {{ selectedSection.course_name }}</h4>
	<span class="pull-right">
	  <a ng-show="selectedSection" href="#/chat/{{ selectedSection._id }}">CHAT</a>
	  <button type="button" style="margin-left: 15px;" class="btn btn-default btn-md" ng-click="showAddCardModal()" ng-show="edit_auth">+ Add Card</button>
	</span>
      </div>
    </div>
    <div class="card" ng-repeat="card in cards" style="margin-top:20px;">
      <div class="panel panel-normal">
        <div class="panel-body">
	  <p>
	    <div style="font-size: 13px;">
	      <span style="font-weight: bold;">{{card.creator.username}}</span>
	      created
	      <span ng-show="card.card_type == 'announcement'" style="font-weight: bold; color: #245894;">{{card.card_type}}</span>
        <span ng-show="card.card_type == 'assignment'" style="font-weight: bold; color: #e93409;">{{card.card_type}}</span>
        <span ng-show="card.card_type == 'grade'" style="font-weight: bold; color: #23ac02;">{{card.card_type}}</span>
        <span ng-show="card.card_type == 'discussion'" style="font-weight: bold; color: #0000ff;">{{card.card_type}}</span>
	      card to
	      <span style="font-weight: bold; color: #f48a3d;">{{card.section.course_name}} Section</span>
	      <span class="pull-right" style="color: #7d818b;">{{card.pub_date | date: "MM/dd/yyyy h:mma"}}</span>
	    </div>
	    <div class="title">Title : {{card.title}}</div></br>
	    {{card.content}}
	    <span class="more pull-right">
      	      <a href="#/cards/{{card._id}}" style="font-size: 13px;">MORE></a>
	    </span>
	  </p>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-md-2">
  <div ng-hide="myCheck">
    <div ng-app="ngAnimate" class="bg-grey" style = "top: 60px; position: fixed;">
      <div style="background-color: #373c4b; padding: 12px;">
      <a style=" color: #ffffff;">TODO</a>
      <span style=" color: black; padding-left: 60%; padding-bottom: 10px; text-align: right; color: #ffffff;">Hide
      <input type="checkbox" ng-model="myCheck" style="align: right;">
      </span>
      </div>
      <div ng-repeat="todo in todos" style="padding-left: 20px; padding-top:1px; padding-bottom: 1px;">
	<h4>
	  <span ng-hide="todo.done" class="glyphicon glyphicon-unchecked" ng-click="finishTask(todo)"></span>
	  <span ng-show="todo.done" class="glyphicon glyphicon-ok" ng-click="undoTask(todo)"></span>
	  {{ todo.task }}
	</h4>
      </div>
      <form ng-submit="addTodo()" class="form-inline" style="margin-top:30px; padding-left: 10px; padding-right: 10px;">
	<input type="text" class="form-control" placeholder="Task..." ng-model="todo_task" size="25"></input>
	<button type="submit" class="btn btn-default btn-md">Add</button>
      </form>
    </div>
    </div>
    <div ng-show="myCheck">
     <span style=" color: black; padding-left: 80%; padding-bottom: 10px;"><b>TODO</b> <input type="checkbox" ng-model="myCheck"></span>
    </div>
  </div>
</div>
