<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default btn-md" ng-click="showAddSectionModal()">+ Create Section</button>
      <hr>
      <div class="section">
	<div class="section-tag">
	  <a href="#/home">
	    <div class="section-title">ALL Courses</div>
	  </a>
	</div>
	<hr>
      </div>
      <div class="section" ng-repeat="section in sections">

	<a href="#/home?sectionId={{section._id}}">
	  <div class="section-number">
	    {{section.course_id}}{{section.section_id}}
	  </div>
	  <div class="section-title">
	    {{section.course_name}}
	    <span ng-show="section.selected" class="glyphicon glyphicon-ok pull-right"></span>
	  </div>
	</a>
	<a href="#/sections/{{section._id}}" ng-show="section.manage_authorized">
	  <span class="glyphicon glyphicon-pencil"></span>edit</a>
	<hr>
      </div>
    </div>

  </div>
  <div class="bg-grey col-md-6">
    <div style="padding: 4px;">
      <h4>TIMELINE<button type="button" class="btn btn-default btn-md pull-right" ng-click="showAddCardModal()">+ Add Card</button></h4>
    </div>
    <div class="card" ng-repeat="card in cards" style="margin-top:20px;">
      <div class="panel panel-normal">
        <div class="panel-body">
	  <p>
	    <div style="font-size: 13px;">
	      <span style="font-weight: bold;">{{card.creator.username}}</span>
	      created
	      <span ng-show="card.card_type == 'announcement'" style="font-weight: bold; color: #245894;">{{card.card_type}}</span>
	      <span ng-show="card.card_type == 'assignment'" style="font-weight: bold; color: #ff0000;">{{card.card_type}}</span>
	      <span ng-show="card.card_type == 'grade'" style="font-weight: bold; color: #00ff00;">{{card.card_type}}</span>
	      <span ng-show="card.card_type == 'discussion'" style="font-weight: bold; color: #0000ff;">{{card.card_type}}</span>
	      card to
	      <span style="font-weight: bold; color: #f48a3d;">{{card.section.course_name}} Section</span>
	      <span class="pull-right" style="color: #7d818b;">{{card.pub_date | date: "MM/dd/yyyy h:mma"}}</span>
	    </div>
	    <div class="title">Title : {{card.title}}</div></br>
	    {{card.content}}
	    <span class="more pull-right">
      	      <a href="#/cards/{{card._id}}" style="font-size: 13px;">MORE></a>
	    </span>
	  </p>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-md-2">
    <div class="bg-grey" style = "top: 60px; position: fixed;">
      <h4 style="background-color: #373c4b; color: #ffffff; padding: 12px;">TODO</h4>
      <div ng-repeat="todo in todos" style="padding-left: 20px; padding-top:1px; padding-bottom: 1px;">
	<h4>
	  <span ng-hide="todo.done" class="glyphicon glyphicon-unchecked" ng-click="finishTask(todo)"></span>
	  <span ng-show="todo.done" class="glyphicon glyphicon-ok" ng-click="undoTask(todo)"></span>
	  {{ todo.task }}
	</h4>
      </div>
      <form ng-submit="addTodo()" class="form-inline" style="margin-top:30px; padding-left: 10px; padding-right: 10px;">
	<input type="text" class="form-control" placeholder="Todo" ng-model="todo_task" size="25"></input>
	<button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</div>
