<!-- <script type="text/ng-template" id="/home.html"> -->
<div class="page-header">
  <h1>CleanNote</h1>
</div>
<h2>- Sections -</h2>
<a href="#/home">All</a>
<div ng-repeat="section in sections">
  <span ng-show="section.selected" class="glyphicon glyphicon-ok"></span>
  <a href="#/home?sectionId={{section._id}}">{{section.course_id}}{{section.section_id}} -  {{section.course_name}}</a>
  <a href="#/sections/{{section._id}}" ng-show="section.manage_authorized" class="glyphicon glyphicon-pencil"></a>
</div>
<form ng-submit="addSection()" style="margin-top:30px;">
  <h3>Add a new Section</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Course Id" ng-model="course_id"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Section Id" ng-model="section_id"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Semester" ng-model="semester"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Year" ng-model="year"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Course Name" ng-model="course_name"></input>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<hr>
<h2> - Cards - </h2>
<div ng-repeat="card in cards" style="margin-top:20px;">
  <h3>
    {{card.title}}
  </h3>
  <p>
    {{card.content}}
    <span>
      | <a href="#/cards/{{card._id}}"> more > </a>
    </span>
  </p>
</div>
<form ng-submit="addCards()" style="margin-top:30px;">
  <h3>Add a new Card</h3>
  <div class="form-group">
    <label for="typeSelect">Type : </label><br>
    <select class="form-control" name="typeSelect" ng-model="card_type">
      <option value="announcement">announcement</option>
      <option value="assignment">assignment</option>
      <option value="grade">grade</option>
      <option value="discussion">discussion</option>
    </select><br>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Card Title" ng-model="card_title"></input>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Card Content" ng-model="card_content"></input>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<hr>
<h2>- Todo -</h2>
<div ng-repeat="todo in todos | orderBy:'done'" style="margin-top:20px;">
  <h4>
    <span ng-hide="todo.done" class="glyphicon glyphicon-unchecked" ng-click="finishTask(todo)"></span>
    <span ng-show="todo.done" class="glyphicon glyphicon-ok" ng-click="undoTask(todo)"></span>
    {{ todo.task }}
  </h4>
</div>
<form ng-submit="addTodo()" style="margin-top:30px;">
  <h3>Add a new Todo</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Todo" ng-model="todo_task"></input>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<!-- </script> -->
