body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.modal-body .select-list {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.mynav {
    background-color: #14ac86;
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #14ac86 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.view-container {
    margin-top:70px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.section a {
    text-decoration: none;
    color: #000000;
}

.section a:hover {
    text-decoration: none;
    color: #14ac86 !important;
}

.section .section-number {
    font-size: 12px !important;
}

.section .section-title {
    font-size: 18px !important;
}

.card .panel-body {
    font-size: 16px;
}

.card .panel-body .title {
    font-weight: bold;
    font-size: 16px;
}

.card-detail .panel-body {
    font-size: 22px;
}

.card-detail .panel-body .title {
    font-weight: bold;
    font-size: 18px;
}

.chat .message-line {
    background: #ddd;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 48%;
}

.chat .message-line input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.chat .message-line button {
    width: 9%;
    background: #11a072;
    border: none;
    padding: 10px;
    color: #ffffff;
}

#chatBox {
    overflow : auto;
    width : 100%;
    height : 500px;
    padding: 10px 10px 10px 10px;
}
.chatMessage {
    padding: 10px 30px;
    background: #ffffff;
    border-radius: 25px;
    text-align: left;
    margin-bottom: 8px;
}